<div class="company-list-wrapper">
    <app-company-filter (filterChange)="onFilterChange($event)"></app-company-filter>
    <app-company-sort (sortChange)="onSortChange($event)"></app-company-sort>

    <ul class="company-list">
        
        @for (companyInfo of filteredList; track companyInfo.id) {
            <li class="company-list__element">
                <app-company-item [companyInfo]="companyInfo"></app-company-item>
            </li>
            
        } @empty {
            @if (isDataLoaded) {
                <li class="company-list__empty">Ничего не найдено</li>
            } @else {
                <li class="company-list__element">
                    <app-loader></app-loader>
                </li>
            }
        }
        
    </ul>

    <div class="company-list__buttons">
        @if (currentPage !== 1) {
            <button class="company-list__button company-list__button_prev" (click)="changePage(-1)">
                <img alt="prev_page" src="../../../assets/arrow.svg"/>
            </button>
        }
        <p>{{ currentPage }}</p>
        @if (hasNextPage) {
            <button class="company-list__button" (click)="changePage(1)">
                <img alt="next_page" src="../../../assets/arrow.svg"/>
            </button>
        }
    </div>
</div>

