<div class="company-item">
    <img class="company-item__img" alt="logo" [src]="companyInfo().logo" crossorigin draggable="false">
    <div class="company-item__info">
        <p class="company-item__info-h">{{ companyInfo().suffix + ' ' + companyInfo().business_name }}</p>
        <p class="company-item__info-bubble">{{ companyInfo().industry }}</p>
        <p class="company-item__info-bubble">{{ companyInfo().type }}</p>
    </div>
    <a class="company-item__button" [routerLink]="['/detail/', companyInfo().id]">
        Подробнее
        <img alt="arrow" src="../../../assets/arrow.svg" draggable="false"/>
    </a>
</div> 
